<!-- Header with Background Image -->
<header class="business-header">
  <div class="container">
    <div class="row" style ="height: 75vh; min-height: 500px; text-shadow:-3px -3px 0 #000000, 3px -3px 0 #000000,-3px 3px 0 #000000, 3px 3px 0 #000000; background-color: rgba(95, 100, 100, 0.3)">
      <div class="col-lg-12  align-self-center">
        <h1 class="display-3 text-center text-white mt-4"><strong> .. Recipe Book .. </strong></h1>
      </div>
    </div>
  </div>
</header>


<div class = "container">
  <h1 class="mt-5 mb-5"><em> Browse Recipes </em> </h1>

  <h2> Category</h2>

  <%= form_tag search_recipes_path, method: :post, remote: false do %> 
    <div class="input-group">
      <%= select_tag "category_name", options_for_select(Category.distinct.pluck(:name,:name)), class:'form-control'%>
      <div class="input-group-append">
        <%= submit_tag "Search", name: nil, class:"btn btn-primary" %> </p>
      </div>
    </div>
  <% end %>

  <br>

 <%= render partial: 'recipes_list' %>